@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

html
  scroll-behavior: smooth
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body
  margin: 0
  padding: 0

.main
  min-height: 100vh
  width: 1920px
  padding: 40px
  margin: auto

.section-money
  margin: auto

.section-money__title
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 28px
  color: #22284A
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

.list
  position: relative
  display: flex
  gap: 8px
  list-style-type: none
  margin: 0
  padding: 4px
  width: fit-content
  box-shadow: 0px 24px 48px rgba(23, 43, 151, 0.72)
  border: 4px solid transparent
  background: linear-gradient(rgba(107, 125, 222, 0.12) 0%, #2921A5 100%) padding-box, linear-gradient(180deg, rgb(202, 207, 239), rgb(106, 119, 195)) border-box
  border-radius: 24px

.list__item
  position: relative
  width: 419px
  height: 352px
  border: 2px solid transparent
  border-radius: 20px

.list__item:nth-of-type(1)
  background: linear-gradient(#6377E1 0%, #2920A5 100%) padding-box, linear-gradient(180deg, rgb(149, 162, 235), rgb(71, 94, 223)) border-box

.list__item:nth-of-type(2)
  background: linear-gradient(#E163E1 0%, #741595 100%) padding-box, linear-gradient(180deg, rgb(235, 149, 235), rgb(177, 71, 223)) border-box
  
.list__item:nth-of-type(3)
  background: linear-gradient(#55CE00 0%, #014D1D 100%) padding-box, linear-gradient(180deg, rgb(140, 222, 83), rgb(58, 130, 7)) border-box

.list__arrow
  position: absolute
  z-index: 10
  right: -50px

.list__image
  position: absolute
  bottom: -56px

*::-webkit-scrollbar
  width: 5px
  height: 5px

*::-webkit-scrollbar-track
  background-color: rgba(255, 255, 255, 0)
*::-webkit-scrollbar-track:hover
  background-color: rgba(255, 255, 255, 0)
*::-webkit-scrollbar-track:active
  background-color: rgba(255, 255, 255, 0)

*::-webkit-scrollbar-thumb
  border-radius: 4px
  background-color: #583d8a
*::-webkit-scrollbar-thumb:hover
  background-color: #714fb1
*::-webkit-scrollbar-thumb:active
  background-color: #8159cc
